<a href="https://colab.research.google.com/github/celii017/Probabilidad-y-estadistica/blob/main/probabilidad_U2_Programa1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#UNIDAD 2
#**PROBABILIDAD Y ESTADISTICA **

Practica 1
Alumna: CELINA GUADALUPE CASTILLO ALMARAZ
PROFESOR: JOSE GABRIEL RODRIGUEZ RIVAS

In [1]:
import math as mt #Para utilizar factorial
from itertools import combinations
from itertools import combinations_with_replacement
import numpy as np

In [2]:
nombres = ["Oscar", "Paco", "Paty", "Laura", "Ruben", "Luis", "Lucy", "Alberto", "Juan", "Danny"]
n = len(nombres)
r = 2 # ¿como agrupar?
cn =mt.factorial(n) / (mt.factorial(r) * mt.factorial(n-r))
print("Existen ", cn, " posibles combinaciones sin repeticion del total de ", n, "nombres", "en grupos de", r, "en")
print("Aqui las combinaciones")
combinacionesNombres = list(combinations(nombres, r))
#Imprime las combinaciones
for combinacion in combinacionesNombres:
    print(combinacion)

Existen  45.0  posibles combinaciones sin repeticion del total de  10 nombres en grupos de 2 en
Aqui las combinaciones
('Oscar', 'Paco')
('Oscar', 'Paty')
('Oscar', 'Laura')
('Oscar', 'Ruben')
('Oscar', 'Luis')
('Oscar', 'Lucy')
('Oscar', 'Alberto')
('Oscar', 'Juan')
('Oscar', 'Danny')
('Paco', 'Paty')
('Paco', 'Laura')
('Paco', 'Ruben')
('Paco', 'Luis')
('Paco', 'Lucy')
('Paco', 'Alberto')
('Paco', 'Juan')
('Paco', 'Danny')
('Paty', 'Laura')
('Paty', 'Ruben')
('Paty', 'Luis')
('Paty', 'Lucy')
('Paty', 'Alberto')
('Paty', 'Juan')
('Paty', 'Danny')
('Laura', 'Ruben')
('Laura', 'Luis')
('Laura', 'Lucy')
('Laura', 'Alberto')
('Laura', 'Juan')
('Laura', 'Danny')
('Ruben', 'Luis')
('Ruben', 'Lucy')
('Ruben', 'Alberto')
('Ruben', 'Juan')
('Ruben', 'Danny')
('Luis', 'Lucy')
('Luis', 'Alberto')
('Luis', 'Juan')
('Luis', 'Danny')
('Lucy', 'Alberto')
('Lucy', 'Juan')
('Lucy', 'Danny')
('Alberto', 'Juan')
('Alberto', 'Danny')
('Juan', 'Danny')

EJEMPLO 2

In [5]:
caracteres =["A", "B", "C", "D", "E", "F" "0", "1", "2", "3", "4", "5"]
n= len(caracteres)
r = 10 #¿como agrupar?
cn = mt.factorial(n) / (mt.factorial(r) * mt.factorial(n - r))
print("Existen ", cn, "posibles combinaciones sin repeticion del total de", n, "caracteres" "en grupos de", r, "en")
print ("Aqui las combinaciones")
combinacionesCaracteres  = list(combinations(caracteres, r))
for combinacion in combinacionesCaracteres:
    print(combinacion)

Existen  11.0 posibles combinaciones sin repeticion del total de 11 caracteresen grupos de 10 en
Aqui las combinaciones
('A', 'B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F0', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F0', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F0', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F0', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'F0', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'E', 'F0', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')

EJEMPLO 3

In [10]:
dado = [1,2,3,4,5,6]
n = len(dado)
r = 2 #¿como agrupar?, de dos en dos porque hay dos dados

cnr = mt.factorial(n + r -1) / (mt.factorial(r) * mt.factorial((n + r -1) -r ))
print("Existen ", cnr, " posiblescombinaciones con repeticion del total de ", n, "datos", "en grupos de", r, "en")
print("Aqui las combinaciones con repeticion de dos datos")

#Definir el conjunto de elementos
elementos = [1,2,3,4,5]

#numero de elementos a elegor en cada combinacion
r = 2

#calcular las combinaciones con repeticion
combinacionesDados = list(combinations_with_replacement(dado, r))

#imprimir las combinaciones
for combinacionesDados in combinacionesDados:
        print(combinacion)

Existen  21.0  posiblescombinaciones con repeticion del total de  6 datos en grupos de 2 en
Aqui las combinaciones con repeticion de dos datos
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F0', '1', '2', '3', '4', '5')